* { margin:0; padding:0; box-sizing:border-box; }
<<<<<<< HEAD

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
  font-size: 0;
}

=======
>>>>>>> origin/master
body {
	font-family: 'Source Sans Serif' sans-serif;
	font-size: 24px;
	font-weight: 100;
	letter-spacing: 0.02em;
	line-height:1.4em;
	color:#222;
	padding: 0;
}
body>section {
<<<<<<< HEAD
	padding:3.2em 5em;
}
body>section:nth-child(even) {
	background: #eaf9ff;
=======
	padding:5em 0;
}
body>section:nth-child(even) {
	background:lightblue;
>>>>>>> origin/master
}
section>div {
	clear:both;
}
nav {
	float:right;
}

nav a {
	color: #1762c9;
<<<<<<< HEAD
	font-weight: 200;
	font-size: 16px;
	text-decoration: none;
	padding-top: 15px;
	padding-bottom: 0px;
	padding-left: 10px;
}
a:hover {
   color: #222;
}

#splash {
	background: url('../image/hero.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	height:720px;
	padding-top:220px;
	padding-left: 120px;
}

=======
	font-size: : 24px;
	font-weight: 700;
}
p {
	font-family: 'Georgia', serif;
}
>>>>>>> origin/master
h1 {
	color: #fff;
	font-size: 2.4em;
	line-height: 1.2em;
	font-weight: 100;
	text-align: left;
}

h2 {
	font-weight: 700;
<<<<<<< HEAD
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: .1em;
}

img {
	width: 550px;
	display: block;
	float:left;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
}

p {
	padding-top: 20px;
=======
	line-height:1.2em;
}
img {
	display: block;
	float:left;
}
#splash {
	background: url('../image/hero.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	height:760px;
	padding-top: 350px;
}

.column {
	float: left;

}
#column1 {
	background-color: #fab582;
	width: 400px;
}
#column2 {
	background-color: #AC54EE;
	width: 600px;
	
}
#column3 {
	background-color: #fab582;
	width: 400px;
>>>>>>> origin/master
}

#logo {
	width: 300px;
	padding: 0;
}

div a {
	color: ##f96515;
	font-weight: 200;
	font-size: 16px;
	text-decoration: none;
	padding-top: 15px;
	padding-bottom: 0px;
	padding-left: 10px;
}

.column {
	display: block;
	float: left;
}

#column1  {
	float: left;
	width: 28%;
}


#column2  {
	float: center;
	width: 28%;
}

#column3  {
	float: right;
	width: 28%;
}

