* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	color:#222;
}
body>section {
	padding:5em 0;
}
body>section:nth-child(even) {
	background:lightblue;
}
section>div {
	clear:both;
}
nav {
	float:right;
}

nav a {
	color: #1762c9;
	font-size: : 24px;
	font-weight: 700;
}
p {
	font-family: 'Georgia', serif;
}
h1 {
	color: #fff;
	font-size: 2.2em;
	font-weight: 700;
	line-height:1.2em;
	text-align: center;
}

h2 {
	font-weight: 700;
	line-height:1.2em;
}
img {
	display: block;
	float:left;
}
#splash {
	background: url('../image/hero.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	height:760px;
	padding-top: 350px;
}

.column {
	float: left;

}
#column1 {
	background-color: #fab582;
	width: 400px;
}
#column2 {
	background-color: #AC54EE;
	width: 600px;
	
}
#column3 {
	background-color: #fab582;
	width: 400px;
}
#column4 {
	background-color: #AC54EE;
	width: 600px;
	
}
#column5 {
	background-color: #fab582;
	width: 400px;
}
#column6 {
	background-color: #AC54EE;
	width: 600px;
}

#column7 {
	background-color: #fab582;
	width: 400px;
}
#column8 {
	background-color: #AC54EE;
	width: 600px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
