* { margin:15px; padding:0; box-sizing:border-box; }
body {
	font-family: 'Hind', sans-serif;
	font-size: 20px;
	color:#222;
}

/*I need help to adjust spacing between columns 
.nav {
	text-align: center; 
	font-size: : 24px;
	font-weight: 500;
	border-collapse: separate;
	border-spacing: 100px;
	font-family:  Helvetica, Arial, sans-serif;
	font-size: 20px;
	color:#222;
}
/*I need help to adjust spacing between columns */
nav {
	text-align:center;
}
nav a {
	color: #1762c9;
	font-size: : 24px;
	font-weight: bold;
}
ul {
	margin-left:1em;
}
li {
	font-weight: 500;
	margin-top:0.8em;
}

hr {
	border:2px solid #1762c9;
}
h1 {
	color: #222;
	font-size: 2.2em;
	font-weight: 700;
	line-height:1.2em;
	text-align: center;
}
#splash {
	background: url('../image/front02.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	height:800px;
}
#italic {
	font-family: 'Noto Serif', serif;
	font-weight: 400;
	font-style: italic,;
	padding-top: 200px;
}
h2 {
	font-family: 'Noto Serif', serif;
	font-weight: 400;
	font-style: italic;
}