body {
	font-family:  Helvetica, Arial, sans-serif;
	font-size: 20px;
	color:#222;
}

h1 {
	font-size: 2.5em;
	color: black;
	font-weight: bold;
	margin-bottom: .5em;

}
/*I need help to adjust spacing between columns */
nav {
	text-align:center;
}
nav a {
	font-size: : 24px;
	font-weight: bold;
}

li {
	color: #222;
	font-weight: normal;
	margin-top:1em;
}

hr {
	line-height: 10px;
}
#splash {
	background: url('../images/filename goes here');
	background-size:cover;
	background-repeat:no-repeat;
	height:;
}
